body{
    font-family:Arial,sans-serif;
    background:#f2f2f2;
    margin:0;
}

header{
    background:#ff5722;
    color:white;
    text-align:center;
    padding:30px;
}

.card{
    width:80%;
    max-width:600px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h2{
    color:#ff5722;
}

ul li{
    padding:10px;
}

button{
    background:#ff5722;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#e64a19;
}

#message{
    color:green;
    font-weight:bold;
    margin-top:20px;
}

footer{
    text-align:center;
    padding:20px;
}